@charset "UTF-8";
section.banner {
  font-size: 12px;
  background: white;
  background: linear-gradient(90deg, white 0%, #f4cbd3 100%);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 5px;
  padding-top: 5px;
  justify-content: center; }

section.banner p.ship, img.fire {
  animation-duration: 5s;
  animation-name: aparecer; }

section.banner img.fire {
  display: inline-block;
  height: 18px;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: -8px 10px 0 10px; }

/*logo*/
.logocontainer {
  width: 100%;
  display: block;
  display: grid;
  justify-items: start; }

.logo {
  width: 100px;
  padding: 20px; }

/*menú principal*/
.navbar-collapse {
  justify-content: right; }

ul {
  list-style: none; }
  ul.dropdown {
    display: none; }
  ul li {
    text-decoration: none;
    display: inline-block;
    position: relative; }
    ul li:hover ul.dropdown {
      display: block;
      width: auto;
      height: auto;
      position: absolute;
      background-color: #FFFFFF; }
    ul li a {
      font-weight: regular;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      margin-left: 10px;
      text-decoration: none;
      margin: 10px;
      transition: all 0.3s ease-in-out; }
      ul li a:hover {
        text-decoration: underline;
        background-color: #F4CBD3;
        color: #F40202; }
    ul li ul li a {
      font-weight: normal; }

.dropdown-menu {
  border: none;
  -webkit-box-shadow: -1px 5px 5px 0px rgba(50, 50, 50, 0.14);
  -moz-box-shadow: -1px 5px 5px 0px rgba(50, 50, 50, 0.14);
  box-shadow: -1px 5px 5px 0px rgba(50, 50, 50, 0.14); }
  .dropdown-menu a {
    margin: 0; }
    .dropdown-menu a:hover {
      background-color: #F4CBD3; }

.navbar-toggler {
  border-color: #F40202; }

.navbar-toggler-icon {
  color: #F40202; }

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9); }

/*menú secundario con íconos*/
.secondary {
  height: 65px;
  display: grid;
  grid-template-areas: "search wish login";
  grid-template-rows: 10px 10px;
  grid-template-columns: auto;
  grid-gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
  /* margin-right: 20px; */ }
  .secondary a {
    width: 30px;
    height: 30px;
    margin: 10px 20px;
    text-decoration: none; }
    .secondary a img {
      display: block;
      height: 30px;
      margin: 0 auto; }

.form-control {
  color: #F40202;
  border-color: #F40202;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 0 auto; }

.btn-outline-success {
  color: #F40202;
  border-color: #F40202;
  /* margin-right: 20px;  */ }
  .btn-outline-success:hover {
    background-color: #F40202;
    border-color: #F40202;
    color: #F4CBD3; }

/* sección principal de página con fotos*/
h1 {
  color: #F40202;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-weight: 800; }

h5 {
  font-size: 30px;
  color: #F40202; }

h3, h6 {
  font-family: "Montserrat", sans-serif;
  color: #F40202;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding: 15px; }

h4 {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  color: #F4CBD3;
  font-size: 26px;
  padding-top: 50px;
  text-align: left; }

section.newarrivals {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }
  section.newarrivals img {
    width: 100%; }

.buttonshop {
  position: relative;
  padding: 1em;
  border: 0;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #F40202;
  color: #F4CBD3;
  transition: background-color .3s ease, color .3s ease;
  -webkit-animation: rotate .75s 1; }

.button.shop:hover {
  background-color: #c0392b;
  color: #fff; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

section .instagramposts {
  background-color: #F4CBD3;
  font-family: "Montserrat", sans-serif;
  color: #F40202;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  font-size: 1,9rem;
  padding: 10px; }

.marquee {
  position: relative;
  overflow-y: hidden;
  width: 100vw;
  max-width: 100%;
  height: 32px;
  overflow-x: hidden;
  background-color: #F4CBD3;
  color: #F40202;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  align-content: center; }

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 40s linear infinite; }

.content {
  overflow-x: hidden; }

@keyframes marquee {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-50%); } }

/*carrusel*/
.carousel-inner, .carousel-item img {
  height: 340px; }

.carousel-item img {
  object-fit: cover; }

.carousel-control-prev {
  left: 0;
  background-image: linear-gradient(270deg, white 0%, #ebe0ed 64%, #f3cbd3 100%); }

.carousel-control-next {
  right: 0;
  background-image: linear-gradient(90deg, white 0%, #ebe0ed 64%, #f3cbd3 100%); }

/*newsletter*/
section .box {
  background-color: #F4CBD3;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 0;
  padding: 40px;
  border-radius: 20px;
  justify-content: center; }
  section .box .form-group {
    margin: 0 auto;
    padding: 25px 0;
    width: auto;
    background-color: transparent; }
    section .box .form-group .form-control {
      display: inline-block; }
  section .box .btn-secondary {
    color: #F40202;
    background-color: #F4CBD3;
    border-color: #F40202;
    border-radius: 5px; }
  @media (min-width: 768px) {
    section .box {
      width: 60%;
      margin-top: 160px;
      margin-bottom: 200px; } }

/*sección "contacto" */
ul.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  ul.contact li {
    padding: 4px 0px; }

/*formulario de contacto*/
.form-group {
  background-color: #F4CBD3;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 1px; }

.box.contacto,
.box.login {
  margin: 0 auto; }
  .box.contacto .btn,
  .box.login .btn {
    min-width: 140px;
    margin: 5px; }

/* anti-style  */
.inspo {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }
  .inspo img {
    width: 250px;
    height: 270px;
    margin: 1px; }

/*whishlist*/
.wish-icn {
  color: #F40202;
  width: 40px;
  height: 40px; }

.wishlist .card {
  flex-direction: column;
  /* background-color: $rosa; */
  font-family: "Montserrat", sans-serif;
  padding: 25px;
  border-radius: 20px; }
  .wishlist .card .img-wishlist {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px; }
  .wishlist .card .card-title {
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  @media (min-width: 768px) {
    .wishlist .card {
      flex-direction: row; }
      .wishlist .card .img-wishlist {
        width: 150px; } }

.meme {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  max-width: 400px; }

footer {
  text-align: center;
  margin-top: 120px;
  padding: 40px;
  background-color: #fafafa; }
  footer a {
    color: #F40202;
    font-family: "Montserrat", sans-serif;
    font-weight: regular;
    margin-bottom: 20px;
    padding: 20px; }
  footer .socialmedia {
    margin-top: 30px; }
    footer .socialmedia a {
      color: #F40202;
      border-radius: 50%; }
      footer .socialmedia a:hover {
        background-color: #fafafa !important; }
    footer .socialmedia .socialmedia--insta {
      background-color: rgba(131, 58, 180, 0.05); }
    footer .socialmedia .socialmedia--twi {
      background-color: rgba(0, 0, 0, 0.05); }
    footer .socialmedia .socialmedia--pinte {
      background-color: rgba(240, 0, 42, 0.05); }

.btn-primary {
  background-color: #F4CBD3;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  color: #F40202;
  border-color: #F40202; }
  .btn-primary:hover {
    background-color: #F40202;
    border-color: #F40202;
    color: #F4CBD3; }

.error .links {
  margin-top: 100px; }

@media only screen and (max-width: 768px) {
  .logocontainer {
    margin: 0 auto;
    justify-items: center; }
  .secondary {
    justify-content: center; }
  section.newarrivals img {
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section.newarrivals img {
    width: 60%; }
  .logocontainer {
    margin: 0 auto;
    justify-items: center; }
  .secondary {
    justify-content: center; }
  .carousel-control-prev, .carousel-control-next {
    background: #F4CBD3; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
